apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: product-service
          imagePullPolicy: Never
          ports:
            - containerPort: 5002
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3306/productdb
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: root
            - name: JWT_SECRET
              value: yashpatel9830584330338258433033825yashpatel
            - name: JWT_EXPIRATION
              value: "3600000"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product-service
  ports:
    - port: 5002
      targetPort: 5002
