server:
    port: 5000
spring:
    application:
        name: api-gateway
    cloud:
        gateway:
            routes:
                - id: auth-service
                  uri: http://auth-service:5001
                  predicates:
                    - Path=/auth/**
                  filters:
                      - StripPrefix=1

                - id: product-service
                  uri: http://product-service:5002
                  predicates:
                    - Path=/products/**
                  filters:
                      - StripPrefix=1